.landing-block {

    & h1,
    & h2,
    & h3 {

        & .line-span {
            display: block;
            white-space: nowrap;
            overflow: hidden;
        }

        & .char-mask {
            display: inline-block;
            min-width: 14px;
            opacity: 0;
            transform: translateY(100%);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            will-change: transform, opacity;

            &.appear {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    & h1,
    & h2 {
        font-family: var(--font-heading);
        font-size: 48px;
        line-height: 1.2;
        color: #fff;
    }

    & h5 {
        margin-bottom: 20px;
        line-height: 1.3;
        font-weight: 600;
        font-size: 24px;
        color: var(--color-accent-lighter);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        will-change: opacity;

        &.appear {
            opacity: 1;
        }
    }

    & h3 {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 45px;
        line-height: 1.2;
        color: #fff;
    }

    & p {
        font-size: 20px;
        line-height: 1.6;
        color: color(#fff alpha(50%));
        opacity: 0;
        transform: translateY(100%);
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        will-change: transform, opacity;

        &.appear {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &--top,
    &--bottom {

        & p {
            font-size: 24px;
            line-height: 1.3;
            color: color(#fff alpha(50%));
        }
    }

    &--top {
        position: absolute;
        bottom: 0;
        width: 100%;

        & h1 {
            margin-bottom: 16px;
        }

        & p {
            margin-bottom: 40px;
        }

        & .button--primary {
            margin-bottom: 40px;
        }
    }

    &--bottom {

        & h2 {
            margin-bottom: 24px;
        }

        & p {
            margin-bottom: 60px;
        }

        & .button--primary:first-of-type {
            margin-right: 30px;
        }
    }

    &--2,
    &--3 {
        position: relative;
        transform: translateX(-50%);
    }

    &--2 {
        left: 75%;
        margin-bottom: 570px;
    }

    &--3 {
        left: 25%;
        margin-bottom: 710px;
    }

    &--4 {
        position: relative;
        left: 40%;
        margin-bottom: 300px;
    }
}
