@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: AvantGarde;
    src: url(./fonts/ITCAvantGardeStd-Bold.otf);
}

@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNovaRegular.otf);
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNovaSemibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNovaBold.otf);
    font-weight: 700;
}

html {
    font-family: ProximaNova, sans-serif;
    line-height: 1.2;
}
