.landing-section__bottom {
    overflow: hidden;

    &--v1 {

        @media (--mobile) {
            padding-bottom: 50px;
        }
    }

    &--v2 {
        margin: -260px 0 -1px;
        position: relative;
        overflow: hidden;

        @media (--large-screen) {
            margin: -200px 0 -1px;
        }

        @media (--medium-screen) {
            margin: -140px 0 -1px;
        }

        @media (--tablet-screen) {
            margin: -90px 0 -1px;
        }

        @media (--mobile) {
            margin: -20px 0 -1px;
            padding: 0 16px 60px;
        }
    }
}
