.car-landing {
    position: fixed;
    will-change: transform;
    z-index: 2;

    &--center {
        left: 50%;
        transform: translate(-50%, -100%);
        transition: transform 0.8s var(--decelerate);

        &.appear {
            transform: translate(-50%, -80%);
        }

        &.appeared {
            transition: none;
        }
    }

    &--yellow,
    &--black {
        left: 80%;
        transform: translate(-50%, -100%);
    }

    &--white {
        left: 0;
        top: 100%;
        transform: translate(-50%, 0);
    }

    &--red,
    &--beige {
        left: 25%;
        top: 100%;
        transform: translate(-25%, 0);
    }
}