.car-landing {
    position: fixed;
    will-change: transform;
    z-index: 2;

    &--center {
        left: 50%;
        transform: translate(-50%, -100%);
        transition: transform 0.8s var(--decelerate);

        &.appear {
            transform: translate(-50%, -80%);
        }

        &.appeared {
            transition: none;
        }
    }

    &--yellow,
    &--black {
        left: 80%;
        transform: translate(-50%, -100%);
    }

    &--white {
        left: 0;
        top: 100%;
        transform: translate(-50%, 0);
    }

    &--red,
    &--beige {
        left: 25%;
        top: 100%;
        transform: translate(-25%, 0);
    }

    @media (--medium-screen) {

        & img {
            transform: scale(0.8);
        }
    }

    @media (--tablet-screen) {

        & img {
            transform: scale(0.6) translateY(10%);
        }
    }

    @media (--mobile) {

        &--center {
            width: 148px;

            & img {
                width: 100%;
                height: auto;
                transform: translateY(-10%);
            }
        }

        &--yellow,
        &--black,
        &--white,
        &--red,
        &--beige {
            display: none;
        }
    }
}
