.header-right {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 3;
    padding-right: 20px;

    & span {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 56px;
        color: #fff;
        display: none; /* TODO: hidden until implemented */
    }

    & .share-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: none; /* TODO: hidden until implemented */
    }

    @media (--tablet-screen) {

        & span {
            line-height: 44px;
        }
    }

    @media (--mobile) {
        top: auto;
        bottom: 30px;
        right: 0;
        width: 100%;
        padding-right: 0;

        & span,
        & img {
            display: none;
        }
    }
}
