.header-right {
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 4;

    & > span {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 56px;
        color: #fff;
        opacity: 0.6;
    }

    & .share-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    @media (--tablet-screen) {
        right: 30px;

        & > span {
            line-height: 44px;
        }
    }

    @media (--mobile) {
        top: auto;
        bottom: 30px;
        right: 0;
        width: 100%;

        & > span,
        & > img {
            display: none;
        }
    }
}
