.header-right {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 4;
    padding-right: 0;

    & > span {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 56px;
        color: #fff;
        opacity: 0.6;
    }

    & .share-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    & .header-social-icon {
        display: inline-block;
        margin: 0 4px;
        transform: translateY(30%);
        opacity: 0.6;
    }

    @media (--tablet-screen) {
        right: 30px;

        & > span {
            line-height: 44px;
        }
    }

    @media (--mobile) {
        top: auto;
        bottom: 30px;
        right: 0;
        width: 100%;
        z-index: 3;
        padding-right: 0;

        & > span,
        & > img,
        & .header-social-icon {
            display: none;
        }
    }
}
