.landing-section {
    background: var(--color-primary);
    padding-bottom: 100px;

    &__top {
        height: calc(100vh - 104px);
        position: relative;
        margin-bottom: 115vh;
    }

    &__bottom {
        height: 267px;
        position: relative;
        overflow: hidden;
    }
}
