.mobile-top-container {

    @media (--mobile) and (orientation: portrait) {
        height: 100vh;
    }
}

.notify-text {
    padding-left: 70px;
    position: relative;
    left: 10%;
    margin-top: 50px;
    transition: transform 1.2s ease, opacity 1.2s ease;
    opacity: 0;
    transform: translateY(70px);
    will-change: transform;

    &.animate {
        opacity: 1;
        transform: translateY(0);
    }

    & img {
        width: 58px;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 50%;
    }

    & h5 {
        font-size: 22px;
        line-height: 30px;
        color: #fff;
    }

    & span {
        font-size: 18px;
        line-height: 30px;
        color: color(#fff alpha(60%));
    }

    @media (--tablet-screen) {
        left: 7%;
        padding-left: 60px;

        & img {
            width: 42px;
        }

        & h5 {
            font-size: 18px;
            line-height: 24px;
        }

        & span {
            font-size: 14px;
            line-height: 24px;
        }
    }

    @media (--mobile) {
        left: 0;
        padding-left: 0;
        text-align: center;
        margin: 0 0 90px;

        & img {
            width: 42px;
            position: static;
            display: block;
            margin: 0 auto 10px auto;
            float: none;
        }

        & h5 {
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 1.2;
        }

        & span {
            font-size: 14px;
            line-height: 1.2;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}

.notify-form {
    height: 56px;
    width: 420px;
    position: relative;

    &--main {
        top: -56px;
        left: 50%;
        margin-bottom: -56px;
        z-index: 2;
        transition: transform 1.2s ease, opacity 1.2s ease;
        opacity: 0;
        transform: translateY(70px);
        will-change: transform;

        &.animate {
            opacity: 1;
            transform: translateY(0);
        }

        @media (--tablet-screen) {
            top: -44px;
            margin-bottom: -44px;
        }

        @media (--mobile) {
            position: fixed;
            left: 16px;
            top: calc(100vh - 67px);
        }
    }

    &--head {
        margin-right: 20px;
        opacity: 0;
        transition: opacity 0.6s ease;

        &.appear {
            opacity: 1;
        }

        & input[type="email"] {
            transform: translateX(100%);
            transition: transform 0.3s ease;
        }

        &.toggled {

            & input[type="email"] {
                transform: translateX(0);
            }
        }
    }

    & .input-container {
        height: 100%;
        width: calc(100% - 80px);
        overflow: hidden;
    }

    & input[type="email"] {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 36px;
        border: none;
        padding: 0 92px 0 36px;
        font-size: 18px;
    }

    & ::-webkit-input-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & :-moz-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & ::-moz-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & :-ms-input-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    &.h_align-center {

        @media (--mobile) {
            transform: none;
        }
    }

    @media (--tablet-screen) {
        width: 300px;
        height: 44px;

        & input[type="email"] {
            font-size: 16px;
            padding: 0 82px 0 24px;
            border-radius: 22px;
        }

        & ::-webkit-input-placeholder {
            font-size: 16px;
        }

        & :-moz-placeholder {
            font-size: 16px;
        }

        & ::-moz-placeholder {
            font-size: 16px;
        }

        & :-ms-input-placeholder {
            font-size: 16px;
        }
    }

    @media (--mobile) {
        width: calc(100% - 32px);
        height: 42px;

        &--head {
            display: none;
        }

        &--bottom {
            display: none;
        }

        & .input-container {
            width: calc(100% - 50px);
        }

        & input[type="email"] {
            font-size: 16px;
            padding: 0 74px 0 24px;
            border-radius: 20px;
        }

        & ::-webkit-input-placeholder {
            font-size: 14px;
        }

        & :-moz-placeholder {
            font-size: 14px;
        }

        & ::-moz-placeholder {
            font-size: 14px;
        }

        & :-ms-input-placeholder {
            font-size: 14px;
        }
    }
}

.fake-notify,
.notify-go-to {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 160px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: var(--color-accent-lighter);
    color: var(--color-blue-medium);
    border-radius: 36px;
    font-size: 18px;
    font-weight: 600;
    padding-right: 20px;

    & img {
        height: 16px;
        width: auto;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    @media (--tablet-screen) {
        width: 120px;
        height: 44px;
        line-height: 44px;
        font-size: 14px;

        & img {
            height: 13px;
            right: 15px;
        }
    }

    @media (--mobile) {
        width: 100px;
        height: 42px;
        line-height: 42px;
        font-size: 14px;
        transform: none;
        padding-right: 0;

        & img {
            display: none;
        }
    }
}
