.block-title-number {
    position: absolute;
    top: 0;
    left: -55px;
    font-family: var(--font-heading);
    font-size: 200px;
    font-weight: 700;

    &--red {
        color: var(--color-red-light);
    }

    &--teal {
        color: var(--color-teal-opaque);
    }

    @media (--tablet-screen) {
        font-size: 150px;
    }

    @media (--mobile) {
        left: -20px;
        font-size: 80px;
    }
}
