.landing-block--image {
    @apply --scroll-slide-in;
    position: relative;
    overflow: hidden;

    &:nth-child(2) {
        margin-bottom: 50px;
    }

    &:nth-child(3) {
        margin-bottom: 150px;
    }

    @media (--tablet-screen) {

        &:nth-child(2) {
            margin-bottom: 30px;
        }

        &:nth-child(3) {
            margin-bottom: 100px;
        }
    }

    @media (--mobile) {
        display: flex;
        flex-direction: column;
        clear: both;
        overflow: visible;
        padding: 0 16px;

        &:nth-child(1) {
            margin-bottom: 40px;
        }

        &:nth-child(2) {
            margin-bottom: 50px;
        }

        &:nth-child(3) {
            margin-bottom: 100px;
        }
    }
}
