@keyframes rotate-arrow {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

.landing-block__image {
    width: 40%;
    margin-left: 5%;

    & img {
        width: 100%;
        height: auto;
    }

    &--timer {
        position: relative;
        width: 30%;
        margin-left: 10%;

        & .timer-arrow__container {
            position: absolute;
            top: calc(33%);
            left: 50%;
            width: 70%;
            transform: translateX(-50%);

            & img {
                will-change: transform;
            }
        }

        @media (--mobile) {
            margin-top: 40px !important;
        }
    }

    &--car {
        position: relative;
        z-index: 1;
    }

    @media (--tablet-screen) {
        margin-left: 2%;

        &--timer {
            margin-left: 7%;
        }
    }

    @media (--mobile) {
        left: 0 !important;
        width: 95%;
        margin: 0 auto;
        order: 2;

        &--timer {
            width: 75%;
        }

        &--car {
            width: 50%;
            margin: 50px auto;
        }
    }
}

.landing-block--image {

    &.animate {

        & .timer-arrow__container img {
            animation: rotate-arrow 10s;
        }
    }
}

.landing-block--image-reversed {

    & .landing-block__image {
        position: relative;
        left: 50%;
    }
}

.landing-block--image-car {

    & .landing-block__image {
        left: 55%;
        width: 30%;

        @media (--mobile) {
            width: 70%;
            margin: 50px auto;
        }
    }
}
