.landing-block--image {
    @apply --scroll-slide-in;
    position: relative;
    overflow: hidden;

    &.animate {

        & .timer-arrow__container img {
            animation: rotate-arrow 10s; /* TODO: move to separate file */
        }
    }

    &:nth-child(2) {
        margin-bottom: 50px;
    }

    &:nth-child(3) {
        margin-bottom: 150px;
    }
}
