.landing-section__top-cut {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 260px;
    transform-origin: left top;
    transform: skewY(6deg);
    outline: 1px solid transparent;
    background: var(--color-blue-medium);
    backface-visibility: hidden;

    @media (--large-screen) {
        transform: skewY(6deg);
    }

    @media (--medium-screen) {
        transform: skewY(7deg);
    }

    @media (--tablet-screen) {
        height: 280px;
        transform: skewY(12deg);
    }

    @media (--mobile) {
        display: none;
    }
}
