.header-right {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 2;
    padding-right: 20px;

    & span {
        font-size: 14px;
        line-height: 56px;
        color: #fff;
        font-weight: 600;
        margin-right: 10px;
    }

    & .share-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    @media (--tablet-screen) {

        & span {
            line-height: 44px;
        }
    }

    @media (--mobile) {
        right: 0;
        width: 100%;
        padding-right: 0;
        top: auto;
        bottom: 30px;

        & span,
        & img {
            display: none;
        }
    }
}

.landing-section--2 {
    background: var(--color-blue-medium);
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
}

.landing-2 {

    &__top {
        position: relative;
        height: calc(100vh - 135px);
        overflow: hidden;
        background: var(--color-blue-medium);

        @media (--mobile) {
            height: auto;
            margin-bottom: 10px;
            padding-top: 35%;
        }
    }

    &__image {
        transition: transform 2s ease, opacity 1s ease;
        opacity: 0.3;
        will-change: transform;

        & img {
            width: 110%;
        }

        &.animate {
            opacity: 1;
            transform: translate(-5%, -5%);
        }

        @media (--mobile) {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__top-container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        @media (--mobile) {
            position: static;
            padding-left: 16px;
        }
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 10%;
        color: #fff;
        z-index: 1;
        transition: transform 1.2s ease, opacity 1.2s ease;
        opacity: 0;
        transform: translateY(70px);
        will-change: transform;

        &.animate {
            opacity: 1;
            transform: translateY(0);
        }

        & h2 {
            font-size: 60px;
            font-family: var(--font-heading);
            margin-bottom: 30px;
        }

        & p {
            font-size: 30px;
            margin-bottom: 30px;
        }

        @media (--tablet-screen) {
            left: 7%;

            & h2 {
                font-size: 42px;
                margin-bottom: 20px;
            }

            & p {
                font-size: 22px;
            }
        }

        @media (--mobile) {
            position: static;
            left: 16px;
            top: 50%;

            & h2 {
                font-size: 9vw;
                line-height: 1.1;
                width: 60%;
                margin-bottom: 20px;
            }

            & p {
                font-size: 16px;
            }
        }
    }

    &__cut {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 260px;
        background: var(--color-blue-medium);
        transform-origin: left top;
        transform: skewY(6deg);
        backface-visibility: hidden;
        outline: 1px solid transparent;

        @media (--large-screen) {
            transform: skewY(6deg);
        }

        @media (--medium-screen) {
            transform: skewY(7deg);
        }

        @media (--tablet-screen) {
            height: 280px;
            transform: skewY(12deg);
        }

        @media (--mobile) {
            display: none;
        }
    }
}

.landing-2__footer {
    background: var(--color-red);
    height: 100px;
    line-height: 100px;
    padding: 0 3% 0 6%;
    color: #fff;
    font-size: 14px;
    border-top: 1px solid var(--color-blue-medium);
    position: relative;
    z-index: 1;

    @media (--mobile) {
        display: none;
    }
}

.footer__social {
    font-weight: 600;

    & a {
        line-height: normal;
        display: inline-block;
        margin: 0 8px;
        transform: translateY(25%);

        @media (--mobile) {
            margin: 0 12px;
        }
    }
}
