.landing-section--2 {
    background: var(--color-blue-medium);
    padding-bottom: 0;
}

.landing-2 {

    &__top {
        position: relative;
        height: calc(100vh + 25px);
        overflow: hidden;
        background: var(--color-blue-medium);
    }

    &__image img {
        width: 100%;
    }

    &__top-container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 10%;
        color: #fff;
        z-index: 1;

        & h2 {
            font-size: 60px;
            font-family: var(--font-heading);
            margin-bottom: 30px;
        }

        & p {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }

    &__cut {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 350px;
        clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
        background: var(--color-blue-medium);
    }
}

.landing-2__footer {
    background: var(--color-red);
    height: 100px;
    line-height: 100px;
    padding: 0 3% 0 6%;
    color: #fff;
    font-size: 14px;
}

.footer-social {
    font-weight: 600;
}
