.notify-form__container {
    position: relative;
    left: 10%;
    overflow: hidden;
    margin-bottom: 150px;
    transition: transform 0.6s ease, opacity 0.6s ease;
    opacity: 0;
    transform: translateY(70px);
    will-change: transform;

    &.animate {
        opacity: 1;
        transform: translateY(0);
    }

    & span {
        font-size: 18px;
        line-height: 56px;
        color: color(#fff alpha(60%));
        margin-right: 50px;
    }

    @media (--tablet-screen) {
        left: 7%;
        margin-bottom: 100px;

        & span {
            font-size: 14px;
            line-height: 44px;
            margin-right: 30px;
        }
    }

    @media (--mobile) {
        left: 16px;
        margin-bottom: 50px;

        & span {
            font-size: 12px;
            line-height: normal;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}

.notify-form {
    height: 56px;
    width: 360px;
    position: relative;

    & input[type="text"] {
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 36px;
        border: none;
        padding: 0 92px 0 36px;
        font-size: 18px;
    }

    & ::-webkit-input-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & :-moz-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & ::-moz-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & :-ms-input-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    &.h_align-center {
        transform: translateX(-40px);

        @media (--mobile) {
            transform: none;
            margin: 0;
        }
    }

    @media (--tablet-screen) {
        width: 240px;
        height: 44px;

        & input[type="text"] {
            font-size: 16px;
            padding: 0 82px 0 24px;
            border-radius: 22px;
        }

        & ::-webkit-input-placeholder {
            font-size: 16px;
        }

        & :-moz-placeholder {
            font-size: 16px;
        }

        & ::-moz-placeholder {
            font-size: 16px;
        }

        & :-ms-input-placeholder {
            font-size: 16px;
        }
    }

    @media (--mobile) {
        width: calc(100% - 32px);
        height: 38px;

        & input[type="text"] {
            font-size: 16px;
            width: calc(100% - 50px);
            padding: 0 74px 0 24px;
            border-radius: 20px;
        }

        & ::-webkit-input-placeholder {
            font-size: 14px;
        }

        & :-moz-placeholder {
            font-size: 14px;
        }

        & ::-moz-placeholder {
            font-size: 14px;
        }

        & :-ms-input-placeholder {
            font-size: 14px;
        }
    }
}

.fake-notify,
.notify-go-to {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
    display: inline-block;
    width: 160px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: var(--color-accent-lighter);
    color: var(--color-blue-medium);
    border-radius: 36px;
    font-size: 18px;
    font-weight: 600;
    padding-right: 20px;

    & img {
        height: 16px;
        width: auto;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &--dark {
        background: var(--color-blue-medium);
        color: #fff;
    }

    @media (--tablet-screen) {
        width: 120px;
        height: 44px;
        line-height: 44px;
        font-size: 14px;

        & img {
            height: 13px;
            right: 15px;
        }
    }

    @media (--mobile) {
        width: 100px;
        height: 38px;
        line-height: 38px;
        font-size: 12px;
        transform: none;

        & img {
            height: 12px;
            right: 10px;
        }
    }
}

.notify-go-to {
    position: relative;
    transform: none;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 0.6s ease;

    &.appear {
        opacity: 1;
    }
}
