.notify-form__container {
    position: relative;
    left: 10%;
    overflow: hidden;
    margin-bottom: 150px;

    & span {
        font-size: 18px;
        line-height: 56px;
        color: color(#fff alpha(60%));
        margin-right: 50px;
    }
}

.notify-form {
    height: 56px;
    width: 360px;
    position: relative;

    & input[type="text"] {
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 36px;
        border: none;
        padding: 0 92px 0 36px;
        font-size: 18px;
    }

    & ::-webkit-input-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & :-moz-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & ::-moz-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & :-ms-input-placeholder {
        font-size: 18px;
        color: var(--color-gray-medium);
    }

    & .fake-notify {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(50%);
        display: block;
        width: 160px;
        height: 56px;
        line-height: 56px;
        text-align: center;
        background: var(--color-accent-lighter);
        color: var(--color-blue-medium);
        border-radius: 36px;
        font-size: 18px;
        font-weight: 600;
        padding-right: 20px;

        & img {
            height: 16px;
            width: auto;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        &--dark {
            background: var(--color-blue-medium);
            color: #fff;
        }
    }

    &.h_align-center {
        transform: translateX(-40px);
    }
}
